body {

color: rgb(255,255,255);
font-family: 'ubuntu', sans-serif;
  background-image: url(images/gagnant5.png);
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding-top: 5em;
  padding-bottom: 5em;
    font-weight: bold;
}



.home {
 max-width: 56em;
 padding-left: 2em;
 margin-top: 0em;
 }

  .home a{
color: #FFFFFF ;
text-decoration: none;
font-size: 0,5em;
padding: 0.2em;
 }



   .choix {
    max-width: 56em;
    margin-right: auto;
    margin-left: 250px;
    margin-top: 415px;

    }


    .choix a{
  color: #FFFFFF ;
  text-decoration: none;
  font-size: 0,5em;
  padding: 0.2em;
   }
