body {

color:  #FFFFFF ;
font-family: 'infini', sans-serif;
  background-image: url(images/gagnantt7.png);
margin-top: 0px;
background-color:  rgb(20, 90, 50);
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding-top: 0em;
  padding-bottom: 5em;


}

.home {
 max-width: 56em;
 padding-left: 2em;
 margin-top: 0em;
 padding-top: 10px;
 }

  .home a{
color: #FFFFFF ;
text-decoration: none;
font-size: 0,5em;
padding: 0.2em;
 }


 .choix {
position: absolute;
right : 22px;
top : 22px;
  margin-top: 0px;
  color: #FFFFFF ;
  text-decoration: none;
  background-color: rgba(20, 90, 50, 0.6);
  padding: 0.5em;
  border-radius: 90px 90px 90px 90px;
  -moz-border-radius: 90px 90px 90px 90px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border: 0px solid #25662c;
  text-align: center;
  width: 600px;
  font-size: 1em;

  }


  .choix a{
color: #FFFFFF ;
text-decoration: none;
font-size: 1em;
padding: 0em;
text-align: center;
transition: all 0.20s ease;
border-radius: 1em;
display: block;

 }


.choix a:hover {

  color: #FF0000  ;

 }


li {
  text-align: center;
 }
