body {

color:  #FFFFFF ;
font-family: 'futura', sans-serif;
  background-image: url(images/gagnantt11.png);
margin-top: 0px;
background-color:  rgb(20, 90, 50);
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding-top: 0em;
  padding-bottom: 5em;
  font-weight: bold;
}

.home {
 max-width: 56em;
 padding-left: 2em;
 margin-top: 0em;
 padding-top: 10px;
 }

  .home a{
color: #FFFFFF ;
text-decoration: none;
font-size: 0,5em;
padding: 0.2em;
 }


 .choix {

  margin-left:500px;
  margin-top: 0px;
  color: #FFFFFF ;
  text-decoration: none;
  background-color: rgba(20, 90, 50);
  padding: 2em;
  padding-bottom: 0px;
  padding-top: 0px;
  border-radius: 90px 90px 90px 90px;
  -moz-border-radius: 90px 90px 90px 90px;
  -webkit-border-radius: 90px 90px 90px 90px;
  border: 2px solid #25662c;
  text-align: center;
  width: 600px;
  font-size: 1em;

  }


  .choix a{
color: #FFFFFF ;
text-decoration: none;
font-size: 1em;
padding: 0em;
text-align: center;
 }

li {
  text-decoration: none;
}
