body {

color: rgb(255,255,255);
font-family: 'ubuntu', sans-serif;
  background-image: url(images/fleuve.png);
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding-top: 5em;
  padding-bottom: 5em;
}


h1 {
font-size: 4em;
margin-top: 0em;

}

.container {
max-width: 56em;
margin-right: auto;
margin-left: auto;
}

#section01 {

  }


  .choix {
  max-width: 56em;
  margin-right: auto;
  margin-left: auto;
  }

  .choix a{

color: #FFFFFF ;
text-decoration: none;
font-size: 0,5em;
padding: 0.2em;

  }
